<% layout('/layout') -%>
<% stylesheet('/style.min.css') -%>
<% script('/scripts.min.css') -%>
<% script('/socket.io/socket.io.js') -%>
<% include ../../header -%>
<div class="lesson">
	<h1>lesson 0: introduction</h1>
	<div class="horizontal-divider"></div>
	<div class="lesson-body">
		<h2>So you want to learn about that app called Terminal?</h2>
		<p>That's great! Deciding that you want to learn is actually the hardest step for a lot of people. They're either too scared of the screens of green text they've seen in movies, or they think that there's not really a point for them to learn it. But for some reason or another, you came here wanting to learn. But maybe you need a little more convincing to be completely sure that you want to do this. Let me give my two cents about the hot debate "Should non-techies learn how to use their computer effectively".</p>
		<br>
		<img src="/images/tutorials/unix/0/0.png">
		<p class="image-caption">A blank Terminal window.</p>
		<br>
		<div class="horizontal-divider"></div>
		<h2>Why do you need to know about this stuff?</h2>
		<p>My personal belief is that everyone should make an effort to learn how to code and use their computer. Many of you are probably thinking "I don't even plan on working in the tech field! I don't need to waste my time on this!". And while that might be true to some extent, I can guarantee you that being able to utilize a computer to its fullest potential in a society that is very quickly moving toward technological dependence is very valuable. You could probably live life as a normal computer user, but being able to quickly whip up a website that's nice, clean, and to the point is a nice skill to have. So is being able to send out over thousands of emails with custom names and greetings in a matter of minutes. It's also pretty convenient to not have to run to tech support every time something small happens. And as you're learning all these cool things, always keep in mind that people do this for a living. Who knows, maybe you'll be joining us in the tech industry soon enough.</p>
		<br>
		<div class="horizontal-divider"></div>
		<h2>So how exactly am I going to teach you?</h2>
		<p>Hopefully you've decided to stick with this for at least a little bit longer.</p>
	</div>
</div>