<% layout('/layout') -%>
<% stylesheet('/style.min.css') -%>
<% script('/scripts.min.css') -%>
<% script('/socket.io/socket.io.js') -%>
<% include ../../header -%>
<div class="lesson">
	<h1>lesson 1: what is unix and the terminal</h1>
</div>