<% layout('/layout') -%>
<% stylesheet('/style.min.css') -%>
<% script('/scripts.min.css') -%>
<% script('/socket.io/socket.io.js') -%>
<% include ../../header -%>
<div class="toc">
	<h1>unix</h1>
	<ul>
		<li>* <a href="/tutorials/unix/0">lesson 0: introduction</a></li>
		<li>* <a href="/tutorials/unix/1">lesson 1: what is unix and the terminal</a></li>
	</ul>
	<% include ../../feedback -%>
</div>