<% layout('layout') -%>
<% stylesheet('/style.min.css') -%>
<% script('/scripts.min.css') -%>
<% script('/socket.io/socket.io.js') -%>
<% include header -%>
<div class="not-found">
	<h1>404</h1>
	<h2>Sorry, it looks like something went wrong.</h2>
	<p>Either this page doesn't exist or it's currently under maintenance. Try coming back later. In the meantime, feel free to check out any of the other pages from the navigation above.</p>
</div>