<div class="feedback">
	<h3>Want a tutorial on a topic not covered here? Let me know below.</h3>
	<div class="terminal-window">
		<div class="terminal-topbar">
			<div class="terminal-topbar-buttons-container">
				<div class="terminal-topbar-button"></div>
				<div class="terminal-topbar-button"></div>
				<div class="terminal-topbar-button"></div>
			</div>
			<div class="terminal-topbar-title">requests</div>
		</div>
		<div class="terminal-content" tabindex="0">
			<div class="terminal-current-line">
				<span class="terminal-prompt">coding-basix:<span class="cwd">~</span> requests$ </span>
				<form class="feedback">
					<input type="text">
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('form.feedback').submit(function(e) {
		$.ajax({
			dataType: 'json',
			data: {
				data: $(this).find('input').val()
			},
			type: 'post',
			url: '/requests',
			success: function () {
				console.log('success');
			},
			error: function (data) {
				console.log('error');
			}
		});
		return false;
	});
</script>