<div class="header">
	<a href="/"><div class="logo"><span>*</span></div></a>
	<h1 class="title">code basix</h1>
	<h2 class="nav">
		<ul>
			<a href="/tutorials"><li>tutorials</li></a>
			<a href="/about"><li>about</li></a>
		</ul>
	</h2>
</div>