<% layout('layout') -%>
<% stylesheet('/style.min.css') -%>
<% include header -%>
<div class="home">
	<h2 class="tagline">The interactive way to code.</h2>
	<div class="horizontal-divider"></div>
</div>