<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Robin Joseph</title>
    <meta name="description" content="Robin Joseph's Blog">
    <meta name="author" content="Robin Joseph">
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <%- body %>
  </body>
</html>