<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>coding basix</title>
    <meta name="description" content="An interactive tutorial site for programming and code">
    <meta name="author" content="Robin Joseph">
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <%- body %>
  </body>
</html>