<% layout('/layout') -%>
<% stylesheet('/style.min.css') -%>
<% script('/scripts.min.css') -%>
<% script('/socket.io/socket.io.js') -%>
<% include ../header -%>
<div class="tutorials-toc">
	<h1>tutorials</h1>
	<ul>
		<li>* <a href="/tutorials/unix">unix/terminal</a></li>
	</ul>
	<% include ../feedback -%>
</div>