@font-face {
	font-family: 'Amble';
	src: url('/amble-regular-webfont.eot');
	src: url('/amble-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/amble-regular-webfont.woff') format('woff'),
	     url('/amble-regular-webfont.ttf') format('truetype'),
	     url('/amble-regular-webfont.svg#ambleregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmbleBold';
	src: url('/Amble-Bold-webfont.eot');
	src: url('/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/Amble-Bold-webfont.woff') format('woff'),
	     url('/Amble-Bold-webfont.ttf') format('truetype'),
	     url('/Amble-Bold-webfont.svg#amblebold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmbleLight';
	src: url('/Amble-Light-webfont.eot');
	src: url('/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/Amble-Light-webfont.woff') format('woff'),
	     url('/Amble-Light-webfont.ttf') format('truetype'),
	     url('/Amble-Light-webfont.svg#amblelight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmbleLightItalic';
	src: url('/Amble-LightItalic-webfont.eot');
	src: url('/Amble-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/Amble-LightItalic-webfont.woff') format('woff'),
	     url('/Amble-LightItalic-webfont.ttf') format('truetype'),
	     url('/Amble-LightItalic-webfont.svg#amblelight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('/sourcecodepro-regular-webfont.eot');
	src: url('/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/sourcecodepro-regular-webfont.woff') format('woff'),
	     url('/sourcecodepro-regular-webfont.ttf') format('truetype'),
	     url('/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0 auto;
	padding: 0;
	padding-bottom: 30px;
	background: #f8f8f8;
	color: #333;
	font-family: 'Amble';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	display: block;
	font-size: 1em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: normal;
}

ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

div.horizontal-divider {
	height: 1px;
	width: 60%;
	background: -webkit-linear-gradient(left,#f2f2f2,#999,#f2f2f2);
	margin: 30px auto;
}

.terminal-window {
	border-radius: 5px;
	overflow: hidden;
	height: 400px;
	width: 70%;
	margin: 0 auto;
	box-shadow: 0 10px 30px #333;
}

.terminal-window .terminal-topbar {
	position: relative;
	text-align: center;
	background: #bababa;
	background: -webkit-linear-gradient(top,#e6e6e6,#bababa);
	border: 1px #bababa solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.terminal-window .terminal-topbar .terminal-topbar-buttons-container {
	position: absolute;
	left: 5px;
}

.terminal-window .terminal-topbar .terminal-topbar-buttons-container .terminal-topbar-button {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background: #ddd;
	box-shadow: inset 0 0 3px #333, inset 0 3px 1px #eee, inset 0 -4px 2px #eee;
}

.terminal-window .terminal-topbar .terminal-topbar-title {
	display: inline-block;
	vertical-align: middle;
	color: #333;
	text-shadow: 0 -1px 1px #999;
}

.terminal-window .terminal-content {
	position: relative;
	text-align: left;
	overflow: scroll;
	word-wrap: break-word;
	color: #fff;
	font-family: 'SourceCodePro';
	background: #000;
	height: 370px;
	padding: 3px;
}

.terminal-window .terminal-content .terminal-content-textarea {
	position: absolute;
	width: 100%;
	height: 370px;
	border-radius: 0px;
	top: 0;
	left: 0;
}

.terminal-window .terminal-content .terminal-past-output pre {
	font-family: 'SourceCodePro';
	white-space: pre;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.terminal-window .terminal-content:focus {
	outline: none;
}

.terminal-window .terminal-content .cwd {
	color: #009974;
}

.terminal-window .terminal-content .terminal-prompt {
	float: left;
	margin-right: 9px;
}

.terminal-window .terminal-content .terminal-current-line input {
	background: transparent;
	color: #fff;
	font-family: 'SourceCodePro';
	-webkit-font-smoothing:antialiased;
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.terminal-window .terminal-content .terminal-current-line input:focus {
	outline: none;
}

@media all and (max-width: 800px) {
	.terminal-window {
		width: 90%;
	}

	.terminal-window .terminal-content {
		font-size: 12px;
	}

	.terminal-window .terminal-content .terminal-prompt {
		margin-right: 6px;
	}

	.terminal-window .terminal-content .terminal-current-line input {
		font-size: 12px;
	}
}

.feedback {
	margin-top: 50px;
	margin-bottom: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.feedback .feedback-icon {
	font-size: 18px;
	text-align: center;
	text-shadow: 0 2px 3px #ddd;
	cursor: default;
}

.feedback .feedback-inner {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.feedback h3 {
	font-size: 18px;
	text-align: center;
	padding: 20px;
	text-shadow: 0 2px 3px #ddd;
}

.feedback .terminal-window {
	width: 90%;
	max-width: 500px;
	height: 52px;
}

.feedback .terminal-window .terminal-content {
	height: 23px;
}

@media all and (max-width: 800px) {
	.feedback .terminal-window {
		height: 46px;
	}

	.feedback .terminal-window .terminal-content {
		height: 17px;
	}
}

.not-found {
	text-align: center;
}

.not-found h1 {
	font-size: 60px;
	padding: 20px;
	text-shadow: 0 2px 3px #ddd;
}

.not-found h2 {
	font-size: 36px;
	padding: 0 20px;
	text-shadow: 0 2px 3px #ddd;
}

.not-found p {
	font-size: 24px;
	padding: 30px 70px;
}






