.tutorials-toc h1 {
	font-size: 36px;
	text-align: center;
	padding: 20px;
	text-shadow: 0 2px 3px #ddd;
}

.tutorials-toc ul {
	font-size: 24px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	list-style: none;
	box-sizing: border-box;
}

.tutorials-toc ul a {
	text-decoration: none;
	color: inherit;
}

.tutorials-toc ul a:hover {
	color: #009974;
}

.toc h1 {
	font-size: 36px;
	text-align: center;
	padding: 20px;
	text-shadow: 0 2px 3px #ddd;
}

.toc ul {
	font-size: 24px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	list-style: none;
	box-sizing: border-box;
}

.toc ul a {
	text-decoration: none;
	color: inherit;
}

.toc ul a:hover {
	color: #009974;
}

.lesson h1 {
	font-size: 36px;
	text-align: center;
	padding: 20px;
	text-shadow: 0 2px 3px #ddd;
}

.lesson .lesson-body {
	font-family: 'AmbleLight';
	margin: 0 auto;
	font-size: 20px;
	padding: 20px;
	width: 80%;
	max-width: 960px;
	box-sizing: border-box;
}

.lesson .lesson-body h2 {
	font-family: 'AmbleBold';
	font-size: 30px;
	margin-bottom: 30px;
}

.lesson .lesson-body img {
	width: 100%;
}

.lesson .lesson-body .image-caption {
	font-family: 'AmbleLightItalic';
	text-align: center;
	font-size: 16px;
	/*margin-top: -50px;*/
}

@media all and (max-width: 800px) {
	.lesson .lesson-body {
		width: 90%;
	}
}